/* Notes */

.note-section {
    margin-top: 10px;
    padding: 10px;

    background-color: rgba(210, 229, 249, 0.8);
    backdrop-filter: blur(8px);

    border: 1px solid #274977;
    border-radius: 10px;
}

.note-item {
    margin-bottom: 20px;
}

.note-content {
    white-space: pre-wrap;
}

.note-date {
    margin-top: 5px !important;
    font-size: 0.8rem;
    color: #666;
    font-style: italic;
}
