header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    background-color: rgba(38, 78, 208, 0.70);
    backdrop-filter: blur(8px);
    color: #ffffff;
}

header button {
    background-color: #ffffff;
    color: #164383;
    font-weight: 600;
}

header button:hover {
    background-color: #e8eef8;
}